<library path="src">
<!-- type=ros package, filename, className -->
  <class name="TrackingCamPlugin" type="tracking_camera.tracking_cam_plugin.TrackingCamPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Interface for tracking camera
    </description>
    <qtgui>
      <label>Tracking Camera</label>
    </qtgui>
  </class>
</library>
